<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>

    <file>./src</file>
    <file>./tests</file>

    <exclude-pattern>./tests/resources</exclude-pattern>

    <rule ref="./vendor/sebastiaanluca/php-codesniffer-ruleset/ruleset.xml"/>
</ruleset>
